@font-face 
{font-family: 'Flame Font'; src: url('./fonts/octopus_game/Octopus\ Game.otf') format('woff2');}

@font-face 
{font-family: 'Poppins'; src: url('./fonts/Poppins/Poppins-Regular.ttf') format('woff2');}

* 
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    text-decoration: none;
    transition: .3s all linear;
    list-style: none;
}

section.about
{
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background: url('./wallpaper-sc.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8rem;
}

section.about h1.ts
{
    font-size: 2rem;
    font-family: 'Flame Font';
    color: #A87EEE;
    letter-spacing: 8px;
}

section.about h1.ts span
{
    font-size: 2rem;
    color: #bc93fd;
    font-family: 'Flame Font';
}

section.about .bx-img
{
    width: 30rem;
    height: 22rem;
    border: .5px solid #ccc;
    position: relative;
}

section.about .bx-img::after,
section.about .bx-img::before
{
    position: absolute;
    content: '';
    width: 3rem;
    height: 3rem;
}

section.about .bx-img::after
{
    border-left: 3.5px solid #c99becce;
    border-bottom: 3.5px solid #a87ceece;
    bottom: -1.75px;
    left: -1.75px;
    z-index: 2;
}

section.about .bx-img::before
{
    border-right: 3.5px solid #c99becce;
    border-top: 3.5px solid #a87ceece;
    inset: -1.75px -1.75px auto auto;
    z-index: 2; 
}

section.about .bx-img img
{
    width: 25.5rem;
    position: absolute;
    user-select: none;
    pointer-events: none;
}

section.about .bx-img img.image-01
{inset: -2rem auto auto -2rem;}
section.about .bx-img img.image-02
{inset: auto -2rem -2rem auto;}

section.about .bx-details {width: 35%;}

section.about .bx-details img.image-01  {display: none;}

section.about .bx-details p.describe 
{
    color: #afafaf8b;
    font-size: .85rem;
    text-align: justify;
    margin: 1.5rem 0 3rem 0;
    height: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

section.about .bx-details a.btn
{
    padding: .8rem 2.8rem;
    background: #A87EEE;
    color: #fff;
    font-family: 'Flame Font';
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}

@media(max-width: 1300px)
{
    section.about {gap: 6rem;}
    section.about .bx-img {width: 28rem; height: 22rem;}
    section.about .bx-details {width: 38%;}
}

@media(max-width: 1000px)
{
    section.about {gap: 4rem;}
    section.about .bx-img {width: 24rem; height: 20rem;}
    section.about .bx-img img.image-01 {width: 23rem; inset: -1.5rem auto auto -1.5rem;}
    section.about .bx-img img.image-02 {width: 23rem; inset: auto -1.5rem -1.5rem auto;}
}

@media(max-width: 900px)
{
    section.about h1.ts {margin: 2rem 0;}
    section.about .bx-img {display: none;}
    section.about .bx-details {width: 90%; display: flex; flex-direction: column; align-items: center;}
    section.about .bx-details img.image-01 {display: block; width: 70%;}
}

@media(max-width: 500px)
{
    section.about h1.ts {font-size: 1.8rem;}
    section.about .bx-details a.btn {padding: .6rem 2.2rem; font-size: .8rem;}
}